@import "../../../../../assets/css/variables";


.container {
  @include center-text($label-text-size);
  font-weight: 600;
}

.rating,
.votes
{
  vertical-align: super;
  margin-left: 0.3rem;

}

.votes {
  color: $font-grey;
}
