
$background-color-level-1: #111315;
$background-color-level-2: #1B1D1F;
$primary: #6F757C;
$price-background-color: #BEE3CC;
$font-color: #FEF7EE;
$popular-background-color: #F6C768;
$warning: #ED735D;
