
$dark-1: #111315;
$dark-2: #1B1D1F;
$font-grey: #6F757C;
$price-background-color: #BEE3CC;
$font-white: #FEF7EE;
$popular-background-color: #F6C768;
$warning: #ED735D;
$primary: #6e757d;


$body-text-size: 16px;
$label-text-size: 14px;
$price-text-size: 12px;
$small-text-size: 10px;

@mixin center-text($text-size) {
  display: inline-block;
  font-size: $text-size;
  height: $text-size;
  line-height: $text-size;
  text-align: center;
}
