
@import "../../../assets/css/variables";

.group {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../../assets/vector.svg');
  background-repeat: no-repeat;
  background-position-x: 100%;
  max-width: 500px;

}

.heading {
  font-size: $heading-text-size;
  padding: 0;
}

.description {
  word-wrap: break-word;
  color: $font-grey;
}
