@import "../../assets/css/variables";


.main-card {
  background-color: $dark-2;
  margin: 120px 100px 0 100px;
  padding: 80px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.button {
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-size: $label-text-size;
  color: $font-white;
  font-weight: 600;
  background-color: transparent;
  margin: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

.selected {
  background-color: $primary;
}
